@CHARSET "UTF-8";
#member #member_main table{
	width: 90%;
	margin: 9px auto;
	text-align: center;
	background-color: #ccc;
}
#member #member_main table th,#member #member_main table td{
	height: 25px;
	line-height: 25px;
}
#member #member_main table .line{
	background-color: #fff;
}
#member #member_main table .line:hover{
	background-color: #eee;
}
#member #member_main table .del{
	text-align: right;
}
#member #member_main table #delete{
	height: 24px;
	margin-left: 3px;
}