@CHARSET "UTF-8";
#article_modify{
	font-size: 12px;
	width: auto;
	height: auto;
	border: 1px solid #ccc;
	background-color: #fff;
	position: relative;
}
#article_modify h2{
	text-align: center;
}
#article_modify dl{
	width: auto;
	height: 492px;
}
#article_modify dt{
	text-align: center;
	padding: 10px 0;
	font-weight: bold;
}
#article_modify dl dd.title{
	margin-top: 10px;
}
#article_modify dl dd{
	margin-left: 10px;
}
#article_modify dl dd span{
	text-align: left;
	display: inline-block;
	height: 21px;
	line-height: 21px;
}
#article_modify dl span.pos{
	line-height: 27px;
	height: 27px;
	float: left;
	display: block;
	margin:10px 0 0 10px;

}
#article_modify dl dd input.text{
	width: 300px;
	height: 19px;
	border: 1px solid #ccc;
}
#article_modify dl div#ubb{
	width: 855px;
	height: 26px;
	margin: 10px auto 0;
	background: url(../../image/bgmenubar.gif);
	border: 1px solid #369;
	border-bottom: none;
}
#article_modify dl div#ubb img{
	padding: 4px 0 0 6px;
}
#article_modify dl div#ubb img.ubb:hover{
	cursor: pointer;
}
#article_modify dl div#font{
	display: none;
	width: 130px;
	height: 40px;
	background-color: #eee;
	border: 1px solid #333;
	padding: 8px;
	line-height: 20px;
	position: absolute;
	top: 155px;
	left:60px;
}
#article_modify dl div#font strong{
	font-weight: normal;
	background-color: #fff;
	border: 1px solid #ccc;
	cursor: pointer;
}
#article_modify dl div#color{
	display: none;
	width: 152px;
	height: 60px;
	font-size: 12px;
	background-color: #ccc;
	border: 1px solid #333;
	padding: 4px 0 0 4px;
	position: absolute;
	top: 155px;
	left: 210px;
}
#article_modify dl div#color strong{
	border: 1px solid #999;
	display: block;
	width: 12px;
	height: 12px;
	float: left;
	margin: 4px 0 0 4px;
	cursor: pointer;
}
#article_modify dl div#color em{
	display: block;
	height: 28px;
	width: 80%;
	clear: both;
}
#article_modify dl dd input.text:hover{
	border: 1px solid #369;
	background-color: #f1f1f1;
}
#article_modify dl dd textarea:hover{
	border-bottom: 1px solid #369;
	border-left:1px solid #369;
	border-right: 1px solid #369;
	background-color: #f1f1f1;
}
#article_modify dl div#color em input{
	margin: 10px 0 0 4px;
	width: 136px;
	height: 20px;
	cursor: pointer;
	background-color: #fff;
}
#article_modify dl dd textarea{
	width: 845px;
	height: 301px;
	resize: none;
	border: 1px solid #ccc;
	border-top: none;
	margin-left: 40px;
	overflow: auto;
	padding: 5px;
}
#article_modify dl input.submit{
	width: 80px;
	height: 35px;
	border: 1px solid #ccc;
	margin: 8px 51px 0 0;
	cursor: pointer;
	display: inline-block;
	float: right;
}
#article_modify dl input.submit:hover{
	background-color: #ccc;
}
