@CHARSET "UTF-8";
#member #member_main dl{
	width: 80%;
}
#member #member_main dl span{
	display: inline-block;
	position: relative;
	top: 20px;
}
#member #member_main dl dd{
	padding: 3px 0;
	width: 205px;
	text-align: center;
	position: relative;
	left: 180px;
}
#member #member_main dl dd select{
	width: 202px;
}
#member #member_main dl dd input{
	border: 1px solid #ccc;
	width: 200px;
}
#member #member_main dl dd input:hover,#member #member_main dl dd.autograph p textarea:hover{
	border: 1px solid #369;
	background-color: #f1f1f1;
}
#member #member_main dl dd.sex span{
	width: 100px;
	position: relative;
	top: 0;
}
#member #member_main dl dd.sex span input{
	width: 40px;
}
#member #member_main dl dd.autograph{
	padding: 0;
}
#member #member_main dl dd.autograph span{
	width: 100px;
	position: relative;
	top: 0;
}
#member #member_main dl dd.autograph span input{
	width: 40px;
}
#member #member_main dl dd.autograph p textarea{
	width: 202px;
	font-size: 12px;
	color: #333;
	resize: none;
}
#member #member_main dl input.code{
	width: 60px;
}
#member #member_main dl .codetext{
	height: 30px;
	line-height: 30px;
	display: inline-block;
	position: relative;
	left: -60px;
}
#member #member_main dl img{
	margin: 0 0 0 2px;
	position: relative;
	top: 7px;
	left: 5px;
}
#member #member_main dl img:hover{
	cursor: pointer;
}
#member #member_main dl input.button{
	width: 60px;
	height: 20px;
	line-height: 15px;
	background-color: #fff;
	cursor: pointer;
	border: 1px solid #999;
	display: inline-block;
	position: relative;
	left: 90px;
	bottom: 1px;
}
#member #member_main dl input.button:hover{
	background-color: #e5e5e5;
}

